/* Navbar */

.not-only {
    color: #545454;
    background: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.not-only .container {
    max-height: 120px;
    padding: 30px 0;
    box-sizing: border-box;
}

.navbar__title {
    color: #545454;
}

.navbar__subtitle {
    color: #292929;
}

.navbar__link {
    color: #545454;
}

.navbar__link:hover {
    color: #292929;
}

.navbar__link.active {
    color: #545454;
    border-bottom: 3px solid #F1CDB3;
}

/* Our Friends page */

.our-friends {
    margin-top: 120px;
    background: #F6F6F6;
}

.our-friends__title {
    padding-top: 80px;
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    max-width: 400px;
    margin: 0 auto;
}

.our-friends__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #FAFAFA;
    border-radius: 9px;
    padding-bottom: 28px;
    margin: 0 auto 30px;
    max-width: 270px;
    cursor: pointer;
}

.our-friends__item:hover {
    background: #FFFFFF;
    box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.our-friends__item img {
    width: 270px;
    height: 270px;
}

.our-friends__item:hover .button {
    background: #FDDCC4 !important;
    color: #292929;
    border: 2px solid #FDDCC4 !important;
}

.our-friends__item-title {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
    padding: 30px 0;
}

.slider {
    padding: 58px 0 101px;
    max-width: 1240px;
    margin: 0 auto;
}

.slider__wrapper {
    overflow: hidden;
}

.slider__items {
    counter-reset: slide;
    display: flex;
    flex-wrap: wrap;
}

.slider__item {
    flex: 0 0 25%;
    max-width: 25%;
}

.hide {
    display: none !important;
}

.slider__control {
    z-index: 100;
}

.current-page {
    height: 52px;
    width: 52px;
    border-radius: 50%;
    text-indent: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 115%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #292929;
    background-color: #F1CDB3;
    border: 2px solid #F1CDB3;
    margin: 0 20px;
}

.slider__control.arrow {
    background: url("../assets/icons/next.svg") no-repeat center;
}

.slider__control.arrow.next-page {
    background: url("../assets/icons/nextPage.svg") no-repeat center;
    margin-left: 20px;
}

.slider__control.arrow:hover {
    background: url("../assets/icons/next.svg") no-repeat center #FDDCC4;
}

.slider__control.arrow:focus {
    background: url("../assets/icons/next.svg") no-repeat center #FDDCC4;
}

.slider__control.arrow.next-page:hover {
    background: url("../assets/icons/nextPage.svg") no-repeat center #FDDCC4;
}

.slider__control.arrow.next-page:focus {
    background: url("../assets/icons/nextPage.svg") no-repeat center #FDDCC4;
}

.slider__control.arrow.left {
    background: url("../assets/icons/next.svg") no-repeat center;
    transform: rotate(180deg);
}

.slider__control.arrow.left.prev-page {
    background: url("../assets/icons/nextPage.svg") no-repeat center;
    margin-right: 20px;
}

.slider__control.arrow.left:hover {
    background: url("../assets/icons/next.svg") no-repeat center #FDDCC4;
}

.slider__control.arrow.left:focus {
    background: url("../assets/icons/next.svg") no-repeat center #FDDCC4;
}

.slider__control.arrow.left.prev-page:hover {
    background: url("../assets/icons/nextPage.svg") no-repeat center #FDDCC4;
}

.slider__control.arrow.left.prev-page:focus {
    background: url("../assets/icons/nextPage.svg") no-repeat center #FDDCC4;
}

.slider__control.arrow.disabled {
    border: 2px solid #CDCDCD !important;
    opacity: 0.5 !important;
}

.slider__control.arrow.disabled:hover {
    background-color: transparent !important;
    cursor: not-allowed;
}

.slider__control.arrow.disabled:focus {
    background-color: transparent !important;
    cursor: not-allowed;
}

.controls-container {
    display: flex;
    justify-content: center;
    padding-top: 13px;
}

@media (min-width: 768px) and (max-width: 1280px) {
    .table-hide {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .our-friends__title {
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        display: block;
        text-align: center;
        letter-spacing: 0.06em;
        padding-top: 42px;
        width: 100%;
        max-width: none;
        margin: 0 auto;
    }

    .slider {
        padding: 40px 0 43px;
    }

    .slider__items {
        display: flex;
        flex-wrap: wrap;
    }

    .slider__item {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .mobile-hide, .table-hide {
        display: none !important;
    }

    .current-page{
        margin: 0 10px;

    }

    .slider__control.arrow.next-page {
        margin-left: 10px;
    }
    .slider__control.arrow.left.prev-page {
        margin-right: 10px;
    }
}
